body {
    width: 300px;
    padding: 0.25em 2em;
}

.title {
    color: #676767;
    font-family: Raleway, SystemUI, sans-serif;
    font-size: 2em;
};

.entry {
    margin: 20px 0;
}

.description {
    font-family: Raleway, SystemUI, sans-serif;
    font-size: 15px;
    color: #585858;
}

.number {
    width: 50px;
}

label {
    margin: 5px 0;
    display: inline-block;
}

.toggle {
    position: relative;
    width: 40px;
    height: 20px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #BBB;
    transform: 0.5s;
    -webkit-transition: 0.5s;
}

.slider:before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    left: 1px;
    top: 1px;
    background-color: white;
    transform: 0.5s;
    -webkit-transition: 0.5s;
}

input:checked + .slider {
    background-color: #209AF3;
}

input:checked + .slider:before {
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}